1. Values and Strings

a. *       : Mathamatical Operator
b. 'hello' : String
c. -87.5   : Float
d. -       : Mathamatical Operator
e. /       : Mathamatical Operator
f. +       : Mathamatical Operator
g. 6       : Integer

In [1]:
b='hello'
type(b)

str

In [2]:
c=-87.5
type(c)

float

In [3]:
g=6
type(g)

int

2. Difference: 
String is the information or data that will be saved in Variable.
Variable is the information storage symbol.

3. Data Types:
a. Int: Integer - the numeric values. ex: 4
b. Bool: Boolean values - returns True or False value.
c. List: Multiple Datas saved under one list. ex: List_1=["Jan", "Feb", "Mar"]
d. Str: String - text data. ex: "Decide and Dedicate"

4. Expressions:
Expressions contains variables, operators which are used to compute or return value. Ex: C=a+b, a,b,c are variables and these are linked by operators.

5. Statement: Spam=10.
A statement is a defined rule or a value already given.
But expession will have variables operators which will compute or return a result.

6. Final Value for the following code: bacon=22

In [4]:
bacon=22
bacon+1
bacon

22

7. Values for the following codes:

In [5]:
'spam'+'spamspam'

'spamspamspam'

In [6]:
'spam'*3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?
100 is an integer, with some value but eggs unless defined is not having a value. Hence eggs can be a valid variable.

9. What three functions can be used to get the integer, floating-point number, or string version of a value?
ANS: int(),float(),str()

In [7]:
test=54.65
value1=int(test)
value1

54

In [8]:
value2=float(test)
value2

54.65

In [9]:
value3=str(test)
value3

'54.65'

10. Why does this expression cause an error? How can you fix it?
the 1st and 3rd are string Data types and the 2nd word is an integer, hence the error. To fix this, we need to make the integer to string data type.

In [10]:
'I have eaten' + str(' 99 ') +  'burritos.'

'I have eaten 99 burritos.'